
*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: var(--font-sonoma);
}
a{
    text-decoration: none;
}

h1{
    font-family: var(--font-sonoma);
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}