
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,800;1,800&display=swap');

:root{
    
    // Colors
    --dark: #03050F;
    --gray: #5E6488;
    --red: #FF1C44;
    --blue: #4F4FFF;
    --blue100: #EDEFFC;
    --blue300: #7DF0BA;
    --verde: #00FF7F;

    // Tipografías
    --font-sonoma: "Montserrat", sans-serif;
    --font-lato: "Lato", sans-serif;

}
